<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to home page...</h1>
    <table border="solid 10px black">
        <thead>
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>department</td>
                </tr>
            </thead>
        </thead>
        <tbody>
    {% for students in colStud %}
    <p> <tr>
        <td>{{students.studentid}}</td>
        <td>{{students.studentname}}</td>
        <td>{{students.studentdept}}</td>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>